# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.env
.env*.local
.vscode/

# Expo
.expo/
dist/
web-build/

# Native (Expo managed)
ios/
android/

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store

# Security
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Misc
*.tsbuildinfo
